* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #9babb8;
    >#flex_header {
        display: flex;
        >img {
            width: 35%;
        }
        >#block_titre {
            padding: 5% 0 5% 0;
            width: 65%;
        }
        @media screen and (max-width: 900px) {
            img {
                display: none;
            }

            #block_titre {
                padding: 5% !important ; 
                width: 100% !important ;
            }
        }
        
    }
}

section {
    background-color: #eee3cb;
}

h1, h2 {
    text-align: center;
}

#color_body {
    background-color: #d7c0ae;
}

.text_content {
    padding: 3%;
}

#comment_section {
    background-color: #eee3cb;
    border: none;
}

.comment_content {
    padding: 1%;
    border: solid 1px black;
    border-radius: 10px;
}

.card_end {
    text-align: end;
    margin-right: 1%;
}
.message{
    text-align: center;
}
