{% extends "base.html.twig" %}
{% block title %}Modifier l'article{% endblock %}
{% block tinymce_scripts %}
<script>
    tinymce.init({
        selector: '#contentAddArtticle',
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
        'bold italic backcolor | alignleft aligncenter ' +
        'alignright alignjustify | bullist numlist outdent indent | ' +
        'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    });
</script>
{% endblock %}
{% block content %}
    <h3>Editer un article</h3>
    <div>
        {% include 'form_article.html.twig' %}
        <a href="../public/index.php">Retour à l'accueil</a>
    </div>
{% endblock %}

{# <?php $this->title = "Modifier l'article"; ?>
<script>
      tinymce.init({selector: '#contentAddArtticle',
        plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak',
        'searchreplace wordcount visualblocks visualchars fullscreen insertdatetime media nonbreaking',
        'table emoticons template paste help'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
        'bullist numlist outdent indent | link image | print preview media fullpage | ' +
        'forecolor backcolor emoticons | help',
        menu: {
        favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
        },
        menubar: 'favs file edit view insert format tools table help'
      });</script>
<h3>Editer un article</h3>
<div>
    <?php require 'form_article.php';?>
    <a href="../public/index.php">Retour à l'accueil</a>
</div> #}
