{% extends "base.html.twig" %}
{% block title %}Modifier l'article{% endblock %}
{% block tinymce_scripts %}
<script>
    tinymce.init({
        selector: '#contentAddArtticle',
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | blocks | ' +
        'bold italic backcolor | alignleft aligncenter ' +
        'alignright alignjustify | bullist numlist outdent indent | ' +
        'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
    });
</script>
{% endblock %}
{% block content %}
    <h3>Editer un article</h3>
    <div>
        {% include 'form_article.html.twig' %}
        <a href="../public/index.php">Retour à l'accueil</a>
    </div>
{% endblock %}
