<div>
  <aside><img src="images/404.jpg" alt="404 Image" style="width: 40%"/>
  </aside>
  <main>
    <h1>Sorry!</h1>
    <p>
      la page rechercher n'existe pas
    </p>
    <button>retour en arriere<a href="../public/index.php"></a></button>
  </main>
</div>