error 500
{% if e %} {{dump(e)}} {% endif %}
<div>
  <aside><img src="images/500.png" alt="500 Image" style="width: 40%"/>
  </aside>
  <main>
    <h1>Sorry!</h1>
    <p>
      erreur de communication serveur
    </p>
    <button>retour en arriere<a href="../public/index.php"></a></button>
  </main>
</div>