{% extends "base.html.twig" %}
{% block title %}Connexion{% endblock %}
{% block content %}
<script type="module" src="js/main.js"></script>
<h3>Connexion</h3>
{{ session.show('error_login') }}
<div>
    <form method="post" action="../public/index.php?route=login">
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" value={% if post is defined %} post {% endif %}><br>
        <label for="password">Mot de passe</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Connexion" id="submit" name="submit">
    </form>
    <a href="../public/index.php">Retour à l'accueil</a>
</div>
{% endblock %}
